body {
  background-color: aliceblue;
  color: #000f141e;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
}
a:visited {
  color: darkgrey;
}

.avatar {
  width: 200px;
  border-radius: 20%;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0);
}

.info p {
  color: rgb(0, 0, 0);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 20px;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

.info-text {
  margin-left: 30px;
}

.info-text h1 {
  color: black;
  margin-bottom: 10px;
}

.container {
  width: auto;
  margin: auto;
  padding-top: 30px;
}

.card {
  padding: 15px 20px;
  background: rgba(68, 68, 255, 0.281);
  margin-bottom: 20px;
  border-radius: 20px;
}

.bg-11 {
  background: rgba(224, 224, 127, 0.363);
  color: rgba(0, 0, 0, 0.674);
}

.bg-22 {
  background: rgb(204, 248, 202);
  color: rgba(0, 0, 0, 0.674);
}

.bg-33 {
  background: rgb(218, 255, 177);
  color: rgba(0, 0, 0, 0.674);
}

.list {
  padding: 0 20px;
}

.table1 {
  width: 100%;
}
.table1 td {
  margin-bottom: 10px;
}

.bttn {
  background: fixed;
  color: darkolivegreen;
  padding: 15px 20px;
  border: darkolivegreen;
  font-family: inherit;
  cursor: pointer;
}
.bttn:hover {
  opacity: 0.9;
}
.form-group label {
  display: block;
  font-size: 14px;
  color: bisque;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0px 10px;
  outline: none;
  font-family: inherit;
}
